<!DOCTYPE html>
<html>

    <title>Bienvenido</title>
    <link rel='stylesheet' href='/stylesheets/style2.css' />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    </head>
  <body>
  <div class="login">
      <h1>Bienvenido al chat</h1>
      <form method="post">
            <a href= "/signup" type="submit" class="btn btn-primary btn-block2 btn-large">Click aqui para registrarse.</a>
            <a href= "/login" type="submit" class="btn btn-primary btn-block2 btn-large">Click aqui para iniciar sesion.</a>



      </form>
  </div>
  </body>
</html>
