<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel='stylesheet' href='/stylesheets/style2.css' />
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://localhost:3000/usuario');
        socket.on('data', function (data) {
            console.log(data.message);
            socket.emit('new', {mess: 'hello'});
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>
<body>
<div class="login">
    <h1>Registrar</h1>
    <form action="/usuario" method="post">
        <input type="text" name="email" placeholder="Email" required="required" />
        <input type="password" name="password" id="password"placeholder="Password" required="required" />
        <input type="password" name="password_confirmation" id="password" placeholder="Confirmar Password" required="required" />
        <input type="text" name="username" placeholder="Username" id="username"required="required" />
        <input type="submit" value="Iniciar Sesion." class="btn btn-primary btn-block2 btn-large"/>

        <a  href="/login" type="submit" class="btn btn-primary btn-block2 btn-large">Ya tengo cuenta.</a>
    </form>
</div>


</body>
</html>